@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&family=Kdam+Thmor+Pro&family=Koulen&family=Libre+Baskerville&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&family=Koulen&family=Noto+Serif+Khmer:wght@100..900&display=swap');
body {
    margin: 0;
    background-color: #ededed;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .topnav {
    overflow: hidden;
    width: 100%;
    background-color: #1f1f1f;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 30px;
    margin: 1%;
    font-family: "Lilita One", sans-serif;
  }
  
  .topnav a:hover {
    color: dodgerblue;
    opacity: 100%;
  }
  
  .topnav a.active {
    /* background-color: #04AA6D; */
    width: 150px;
    margin-left: -10px;
  }
  
  .topnav .icon {
    display: none;
  }
  .container {
    background-color: #ffffff;
    width: 100%;
    height: 1000px;
  }
.main-container {
    background-color: rgb(255, 255, 255);
    width: 80%;
    height: 1000px;
    margin-left: 168px;
    overflow: hidden;
}
/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px)  {
  .topnav a {
      color: rgb(255, 255, 255);
      font-size: 25px
  }
  .menu-contain2 .cmd-movie2 {
    font-size: 25px;
    color:rgb(255, 255, 255);
  }
  
}
/*Large devices (desktops, 992px and up)*/

@media (min-width: 992px) and (max-width: 1200px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
   
  }
  .topnav a {
      color: rgb(255, 255, 255);
      margin-left: 2px;
      font-size: 20px;
  }
  .main-contain .slide {
    background-color: none;
  }
  .slide .welcome {
    color: green;
    font-size: 100%;
    margin-top: 2%;
  }
  .sponser-slide .sponser-slide1 {
    width: 100%;
    height: 120px;
  }
  .sponser-slide .sponser-slide2 {
    width: 100%;
    height: 120px;
    margin-top: 10px;
  }
  .sponser .sponser-slide {
    background-color: rgb(255, 255, 255);
    height: 0;
  }
  .main-contain .menu-contain {
      background-color: rgb(0, 0, 0);
      width: 95%;
      height: 10px;
      margin:auto;
      border-radius: 8px;
      margin-top: 2%;
    }
    .menu-contain .cmd-movie {
      font-size: 25px;
      color:white;
    }
    .main-contain .video {
      width: 95%;
      margin: auto;
      height: 80%;
      margin-top:34%;
      box-sizing: border-box;
    }
    
    .menu-slide .sponser10 {
      width: 95%;
      height: 47%;
    }
    .menu-slide .sponser11 {
      width: 95%;
      height: 47%;
    }
    .copy-right .copyright1 {
      background-color: none;
      width: 100%;
    }
    .copy-right .copyright2 {
      background-color: none;
      width: 100%;
    }
    .main-contain .video-view {
      background-color: #000000;
      height: 80%;
      width: 100%;

    }
    .video-view .video {
      background-color: red;
      width: 95%;
      height: 100%;
    }
    .body .main-contain {
      background-color: #ffffff;
      height: 285vh;
    }
}
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	.topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
}
@media (min-width: 768px) and (max-width: 991.98px){
  .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
      margin-left: 8px;
    }
    .topnav a {
        color: rgb(255, 255, 255);
    }
    .body .main-contain{
        width: 100%;
        height: 270vh;
        background-color: rgb(255, 255, 255);
    }
    .main-contain .container1 .switch {
      display: none;
    }
    .body .main-contain{
      width: 100%;
      background-color: rgb(255, 255, 255);
  }
  .main-contain .slide {
    background-color: none;
  }
  .slide .welcome {
    color: green;
    font-size: 100%;
    margin-top: 2%;
  }
  .sponser-slide .sponser-slide1 {
    width: 100%;
    height: 120px;
  }
  .sponser-slide .sponser-slide2 {
    width: 100%;
    height: 120px;
    margin-top: 10px;
  }
  .sponser .sponser-slide {
    background-color: aquamarine;
    height: 0;
  }
  .main-contain .menu-contain {
      background-color: rgb(0, 0, 0);
      width: 95%;
      height: 10px;
      margin:auto;
      border-radius: 8px;
      margin-top: 2%;
    }
    .menu-contain .cmd-movie {
      font-size: 25px;
      color:white;
    }
    .main-contain .video {
      width: 95%;
      margin: auto;
      height: 100%;
      margin-top: 52%;
      box-sizing: border-box;
    }
    .menu-more-video .box-video {
      width: 22.5%;
      height:32%;
      margin: auto;
      margin-left: 2%;
      margin-bottom: 2%;
    }
    .main-contain .menu-slide {
      width: 100%;
      height: 240px;
      margin-top: 2%;
      background-color: rgb(255, 255, 255);
    }
    .menu-slide .sponser10 {
      width: 95%;
      height: 47%;
    }
    .menu-slide .sponser11 {
      width: 95%;
      height: 47%;
    }
    .main-contain .menu-more-video {
      background-color: #ffffff;
      height: 100%;
      margin-top: 2%;
    }
    .main-contain .contain{
      background-color: rgb(255, 255, 255);
      height: 800px;
    }
    .main-contain .video-view {
      background-color: #ffffff;
      width: 100%;
      height: 400px;
      margin-top: -18%;
    }
    .video-view .video {
      width: 95%;
      height: 100%;
    }
    .copy-right .copyright1 {
      background-color: none;
      width: 100%;
    }
    .copy-right .copyright2 {
      background-color: none;
      width: 100%;
    }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px){
  .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
}
@media (min-width: 576px) and (max-width: 767.98px){
	.topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
      margin-left: 8px;
    }
    .topnav a {
        color: rgb(255, 255, 255);
    }
    .main-contain .sponser {
      background-color: #ffffff;
      height: 250px;
      width: 100%;
    }
    .body .main-contain {
      width: 100%;
      background-color: #ffffff;
      height: 300vh;
    }
    .main-contain .slide {
      background-color: none;
    }
    .slide .welcome {
      color: green;
      font-size: 100%;
      margin-top: 2%;
    }
    .sponser-slide .sponser-slide1 {
      width: 100%;
      height: 120px;
    }
    .sponser-slide .sponser-slide2 {
      width: 100%;
      height: 120px;
      margin-top: 10px;
    }
    .sponser .sponser-slide {
      background-color: rgb(70, 107, 94);
      height: 0;
    }
    .main-contain .menu-contain {
      background-color: rgb(0, 0, 0);
      width: 95%;
      height: 10px;
      margin:auto;
      border-radius: 8px;
      margin-top: 2%;
    }
    .menu-contain .cmd-movie {
      font-size: 25px;
      color:white;
    }
    .main-contain .video {
      width: 95%;
      margin: auto;
      height: 100%;
      margin-top: 52%;
      box-sizing: border-box;
    }
    .menu-more-video .box-video {
      width: 31%;
      height: 24%;
      margin: auto;
      margin-left: 2%;
      margin-bottom: 2%;
    }
    .main-contain .menu-slide {
      width: 100%;
      height: 240px;
      margin-top: 2%;
      background-color: rgb(255, 255, 255);
    }
    .menu-slide .sponser10 {
      width: 95%;
      height: 47%;
    }
    .menu-slide .sponser11 {
      width: 95%;
      height: 47%;
    }
    .main-contain .menu-more-video {
      background-color: #ffffff;
      height: 100%;
      margin-top: 2%;
    }
    .main-contain .contain{
      background-color: rgb(255, 255, 255);
      height: 1130px;
    }
    .main-contain .video-view {
      background-color: #ffffff;
      width: 100%;
      height: 300px;
      margin-top: -6%;
    }
    .video-view .video {
      width: 95%;
      height: 100%;
    }
    .copy-right .copyright1 {
      background-color: none;
      width: 100%;
    }
    .copy-right .copyright2 {
      background-color: none;
      width: 100%;
    }
}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
	.topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }

}
@media (max-width: 575.98px) {
	.topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
      margin-left: 8px;
    }
    .topnav a {
        color: rgb(255, 255, 255);
        
    }
    .body .main-contain {
      width: 100%;
      background-color: #ffffff;
      height: 300vh;
    }
    .main-contain .slide {
      background-color: none;
    }
    .slide .welcome {
      color: green;
      font-size: 100%;
      margin-top: 2%;
    }
    .sponser-slide .sponser-slide1 {
      width: 100%;
      height: 120px;
    }
    .sponser-slide .sponser-slide2 {
      width: 100%;
      height: 120px;
      margin-top: 10px;
    }
    .sponser .sponser-slide {
      background-color: rgb(70, 107, 94);
      height: 0;
    }
    .main-contain .menu-contain {
      background-color: rgb(0, 0, 0);
      width: 95%;
      height: 10px;
      margin:auto;
      border-radius: 8px;
      margin-top: 2%;
    }
    .menu-contain .cmd-movie {
      font-size: 25px;
      color:white;
    }
    .menu-more-video .box-video {
      width: 47.5%;
      height: 19.5%;
      margin: auto;
      margin-left: 2%;
      margin-bottom: 2%;
    }
    .main-contain .menu-slide {
      width: 100%;
      height: 240px;
      margin-top: 2%;
      background-color: rgb(255, 255, 255);
    }
    .menu-slide .sponser10 {
      width: 95%;
      height: 47%;
    }
    .menu-slide .sponser11 {
      width: 95%;
      height: 47%;
    }
    .main-contain .menu-more-video {
      background-color: #ffffff;
      height: 1550px;
    }
    .main-contain .contain{
      background-color: rgb(255, 255, 255);
      height: 1550px;
      margin-top: -2%;
    }
    .video-view .video {
      width: 95%;
      height: 100%;
    }
    .main-contain .sponser {
      background-color:rgb(255, 255, 255);
      width: 100%;
      margin-top: 1%;
      height: 250px;
    }
    .main-contain .video-view {
      background-color: #ffffff;
      height: 100%;
      width: 100%;
      margin-top: 60%;
      margin-top: 270px;
    }
    .copy-right .copyright1 {
      background-color: none;
      width: 100%;
    }
    .copy-right .copyright2 {
      background-color: none;
      width: 100%;
    }
}
.main-contain {
    background-color: rgb(255, 255, 255);
    width: 80%;
    margin: auto;
    height: 330vh;
}
.slide-bg {
  /* background-color: #e64141; */
  width: 100%;
  height: 150px;
  margin-top: -50px;
}
.slide-bg1 {
  /* background-color: #000000; */
  width: 95%;
  margin: auto;
  height: 150px;
}
.slide-bg2 {
  /* background-color: #000000; */
  width: 100%;
  margin: auto;
  height: 50%;
}
.slide-bg3 {
  /* background-color: #efefef; */
  float: left;
  width: 100%;
  height: 50%
}
.slide {
  background-color: none;
  width: 100%;
  margin: auto;
  height: 70px;
  border-radius: 8px;
  border: solid 0.5px rgb(0, 0, 0);
}
.welcome {
  color:green;
  font-size: 20px;
  text-align: center;
  font-family: "Koulen", sans-serif;
}
.sponser {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 500px;
  margin-top: 20px;
}
.sponser-slide {
  background-color: rgb(0, 0, 0);
  width: 95%;
  height:90%;
  margin: auto;
}
.sponser-slide1 {
  background-color: #ffffff;
  width: 100%;
  height: 47%;
}
.sponser-slide1 img{
  width: 100%;
  height: 100%;
}
.sponser-mid {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 6%;
}
.sponser-slide2 {
  background-color: #ffffff;
  width: 100%;
  height: 47%;
}
.sponser-slide2 img{
  width: 100%;
  height: 100%;
}
.menu-contain {
  background-color: rgb(255, 255, 255);
  width: 95%;
  height: 20px;
  margin-top:20px;
  margin-left: 30px;
  padding-top: 5px;
  padding-bottom: 40px;
  border-radius: 8px;
}
.video {
    background-color: green;
    width: 95%;
    height: 100%;
    margin: auto;
    margin-top: 20px;
}
.menu-more-video {
  background-color: rgb(255, 255, 255);
  margin-top: 20px;
  width: 95%;
  height: 600px;
  margin: auto;
  margin-top: 20px;
}
.box-video {
  background-color: rgb(255, 255, 255);
  width: 19%;
  height:48%; 
  margin: auto;
  margin-left:0.8% ;
  margin-bottom: 2%;
  float: left;
  border-radius: 20px;
}
.box-video img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.menu-contain {
  background-color: rgb(0, 0, 0);
  width: 95%;
  height: 20px;
  margin-top:20px;
  margin-left: 30px;
  padding-top: 5px;
  padding-bottom: 40px;
  border-radius: 8px;
}
.cmd-movie {
  color: #f2f2f2;
  text-decoration: none;
  margin-left: 20px;
  font-family: "Bayon", sans-serif;
  font-size: 30px
}
.copy-right {
  background-color: #000000;
  height: 100px;
  margin-top: 20px;
}
.copy-right a {
  color: #ededed;
  list-style: none;
  text-decoration: none;
  padding-left: 30px;
}
.copy-right a:hover {
  color: dodgerblue;
}
.copyright2 {
  width: 40%;
  height: 60%;
}
.copyright1 {
  
  width: 40%;
  height: 40%;
}
.sponser10 {
  background-color: #060505;
  width: 95%;
  height: 47%;
  margin: auto;
}
.sponser10 img {
  width:100%;
  height: 100%;
}
.sponser11 {
  background-color: #060505;
  width: 95%;
  height: 47%;
  margin: auto;
}
.sponser11 img {
  width:100%;
  height: 100%;
}
.menu-slide {
  margin-top: 20px;
  width: 100%;
  height: 350px;
  background-color: #ffffff;
}
.menu-slide-mid {
  background-color: white;
  width: 95%;
  margin: auto;
  height: 6%;
}
.contain {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 600px;
}
.video-view {
  background-color: #ffffff;
  width: 100%;
  height: 550px;
}